config PWM_PPU
        bool "PWM driver for PPU"
        depends on PWM
        default n
        help
          enable PWM support for PPU

config PWM_PPU_INTERRUPT
        bool "PPU PWM Interrupt Support"
        depends on PWM_PPU
        default n
        help
          Enable Interrupt Support forthe PWM Driver.
